#p1{
    width: 90vh;
    position: relative;
    left:10vh;

}

#abouth1 {

    position: relative;
    
}

#div_wwa{
    width: 90vh;
    position: relative;
    left:50vh;
}

.pNames, .pRole{
    text-align: center;
    font-size: large;
}

.pNames{
    font-size: larger;
    font-weight: bold;
}

img{
    width: 60%;
    height: 50%;
    margin: 5px;
    border: 2px black solid;
}

.members{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    width: 192px;
    margin: 0 10px;
    box-sizing: border-box;
    background-color: #f7ac0d;
    padding: 10px;
    height: 350px;
    border-radius: 10px;
}
 .members:nth-child(2){
   width: 300px;
   height: 400px;
   border: 3px black solid;
}

.errow{
    margin: 5px;
    position: relative;
    left: 90vh;
}

#divSlide{
    display: flex;
    overflow-x: hidden;
    width: 49%;
    margin: 0 auto;
    padding: 2px;
    box-sizing: border-box;

}

