/* General Styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #20201f;
}

/* About Us Section */
.about-us-section {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the content */
  text-align: center; /* Center the text */
}

.about-us-image {
  background-color: #20201f; /* Set the background color to grey */
  padding: 0px; /* Add some padding around the image */
  margin-bottom: -60px;
  border-radius: 8px; /* Optional: round the corners */
}

.about-us-image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px; /* Optional: round the corners of the image */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.about-us-description {
  width: 100%; /* Fill the entire screen width */
  color: #ffffff;
  padding: 120px 20px; /* Adjust top and bottom padding as needed */;
  text-align: left;
}

.about-us-description p {
  font-size: 1rem; /* Decrease the font size by 20% */
  line-height: 1.6;
  color: #ffffff;
  margin-bottom: 50px;
}

/* Program Structure Header */
.program-structure h4 {
  font-size: 1.5rem; /* Increase font size for header */
  margin-top: 30px; /* Add space above the header */
  color: #d9a760; /* Optional: change color to highlight */
}

/* Program Structure List */
.program-structure ul {
  padding-left: 20px; /* Add padding for indentation */
  margin-top: 10px; /* Increase space between h4 and list */
}

.program-structure li {
  margin-bottom: 10px; /* Add spacing between list items */
  line-height: 1.6;
}