/* General Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* About Us Section */
  .services {
    padding: 100px 20px;
  }
  
  .services {
    text-align: center;
  }
  
  .services {
    font-size: 3em;
    font-weight: bold;
    color: #ffd700;
    margin-bottom: 40px;
  }
  
  .services {
    background-color: #333;
    padding: 20px;
    margin-bottom: 50px;
  }
  
  .about-us-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  }
  
  .about-us-description {
    background-color: #fff;
    padding: 40px 20px;
    text-align: center;
    color: #000;
  }
  
  .about-us-description p {
    font-size: 1.2rem;
    line-height: 1.6;
  }
  