.insights {
  min-height: 60vh;
  font-family: Arial, sans-serif;
  padding: 20px;
  color: #000000;
}

.grid-container {
  display: flex;
  text-align: center;
  gap: 20px;
}

.company-insights{
  background-color: #f6f7f8; /* Dark blue background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: black;
  margin-top: 100px;
  display: flex;
  text-align: center;
}

.company-insights p {
  color: #111111;
  line-height: 1.6;
}

.insight-image {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 8px; /* Optional for rounded corners */
}
