/* Courses component styles */
.courses {
  padding-bottom: 0px;
  background-color: #f0f0f0; /* Light gray background */
  color: #333; /* Default text color */
}

.content {
  max-width: 100%;
  margin: 0 auto;
}

.heading {
  padding-top: 0;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  color: #ffd700;; /* Dark blue heading color */
}

.workshop-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
}

.workshop-item {
  background-color: #0000; /* White background */
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.workshop-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.workshop-item h4,
.workshop-item p {
  margin: 0;
}

.workshop-item {
  font-size: 0.9rem;
  color: #ffd700;;
}

/* Animation classes */
.animated {
  animation-duration: 0.5s;
}

.fadeIn {
  animation-name: fadeIn;
}

.bounceIn {
  animation-name: bounceIn;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes bounceIn {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}
