body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif; /* Adjust font-family as needed */
}

.main-content {
  padding-top: 60px; /* Matches the navbar height */
}
